@charset "UTF-8";+


body {
            background-color: aqua;
            font-family: Arial, Helvetica, sans-serif; 
            font-size: 20px ;  
        }

        h1 {
            color: red;
        }

        h2 {
            color: maroon;
            background-color: goldenrod;
        }

        p {
            text-align: justify;
        }