@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/

}

body {
    background-image: linear-gradient(to right, #D4B99E, #FBE2D0);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #9b8774a9;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#507993 ;
    text-align: center;
    text-shadow: 1px 1px 2px #76a6b4af;
}

h2{
    color: #76A6B4;
}
p {
    text-align: justify;

}